@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
  font-family: "Inter", sans-serif;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-items: center; */
}

.square {
  width: 48%;
  /* ให้บล็อกสี่เหลี่ยมมีขนาดเท่ากัน */
  height: 198px;
  /* ให้บล็อกสี่เหลี่ยมมีขนาดเท่ากัน */
  padding-top: 2px;
  /* สร้างขนาดสี่เหลี่ยมจัตุรัส */
  background-color: #3498db;
  /* สีพื้นหลังของบล็อก */

  /* margin-top: 4px; */
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}